{#
/**
 * @file
 * Default theme implementation to display CRM Core Contact data.
 *
 * Available variables:
 * - crm_core_contact: The CRM Core Contact entity with limited access to
 *   object properties and methods.
 * - content: A list of contact fields. Use 'content' to print all fields, or
 *   print a subset such as 'content.field_example'.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_crm_core_contact()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</article>
